/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.
Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки
*/

@keyframes heart-scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.25);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes sparks {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


.like-icon .core,
.like-icon .main-body {
    fill: none;
    transition: fill 0.3s;
}

.like-icon:hover .heart .core {
  fill: currentColor;
  transition-delay: 0s;
}

.like-icon:hover .heart .main-body {
  fill: currentColor;
  transition-delay: 0.05s;
}

.like-icon:not(:hover) .heart .core {
  fill: transparent;
  transition-delay: 0.03s; 
}

.like-icon:not(:hover) .heart .main-body {
  fill: transparent;
  transition-delay: 0s; 
}

.like-icon:active .core {
    fill: var(--animation-fill-color);
    transition: fill 0.3s 0.05s;
}

.like-icon:active .main-body {
    fill: var(--animation-fill-color);
    transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .core {
    fill: var(--animation-fill-color);
    transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .main-body {
    fill: var(--animation-fill-color);
    transition: fill 0.3s 0.05s;
}

.like-icon.is-liked .contour {
    fill: var(--animation-fill-color);
    transition: fill 0.3s 0.06s;
}

.like-icon.is-liked .heart {
    animation: heart-scale 0.3s 0.1s ease-in;
    transform-origin: center;
}

.like-icon.is-liked .sparks {
    animation: sparks 0.3s 0.3s ease-in;
}

.like-icon:not(.is-liked) .contour {
    fill: var(--contour-color);
    transition: fill 0.1s linear;
}

