/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--font-weight-normal);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 100px;
  gap: 20px;
}

.header__title {
  font-family: var(--accent-font);
  font-size: var(--font-title-size);
  text-transform: uppercase;
}

.header__logo {
  display: block;
  font-family: var(--accent-font);
  font-size: var(--font-logo-size);
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}

.header,
.cards {
  width: var(--content-width);
  display: flex;
  flex-direction: column;
}

.cards {
  gap: 51px;
}

/* Card */
.header,
.card {
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
  display: flex;
  flex-direction: column;
}

.card__title {
    font-size: 24px;
    line-height: 1.35;
    padding: 3px 10px 2.2px 10px;
    border-block-end: 2px solid var(--accent-color);
    font-variation-settings: 'wght' var(--font-weight-bold);
}

.card__image-container {
  position: relative;
}

.card__image {
  width: 100%;
  display: block;
}

.card__label {
    position: absolute;
    top: clamp(1.5625rem, 1.4952rem + 0.2872vw, 1.75rem);
    right: clamp(0.6875rem, 0.6202rem + 0.2872vw, 0.875rem);
    font-family: var(--accent-font);
    line-height: 1;
    color: var(--text-color);
    mix-blend-mode: hard-light;
    opacity: 0.5;
    z-index: 1;
}

.card__content {
    padding: clamp(1.5625rem, 1.4952rem + 0.2872vw, 1.75rem);
    display: flex;
    margin-right: -2px;
    flex-direction: column;
    gap: 26px;
    border-top: 2px solid var(--text-color);
}

.card__text {
    font-size: 18px;
    line-height: 117.5%;
}

.card__buttons {
    display: flex;
    align-items: center;
    gap: 0.3125rem;
    padding: 0 clamp(1.5625rem, 1.4952rem + 0.2872vw, 1.75rem) clamp(1.5625rem, 1.4952rem + 0.2872vw, 1.75rem);
    margin-top: auto;
}


@media (376px <=width) {
    .header {
        min-block-size: 327px;
    }

    .card__text {
        word-spacing: -1.5px;
        line-height: 115%;
    }

    .card__content {
        gap: 27px;
    }

    .card__title {
        padding: 4px 10px 4px 10px;
    }

    .cards {
        gap: 47px;
    }

    .card__like-button {
        width: 128px;
    }

    .card_like_buttons {
        margin-right: -1px;
    }

    .card__save-button {
        display: flex;
        align-items: center;
        flex-direction: row;
        padding: 10px;
    }

}
