/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font);
  font-variation-settings: 'wght' var(--font-weight-normal);
  background-color: var(--bg-color);
  background-image: var(--bg-image);
  background-size: cover;
  background-attachment: fixed;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block: 100px;
  gap: 20px;
}

.header__title {
  font-family: var(--accent-font);
  font-size: var(--font-title-size);
  text-transform: uppercase;
}

.header__logo {
  display: block;
  font-family: var(--accent-font);
  font-size: var(--font-logo-size);
}

.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  margin-block-end: 50px;
}

.header,
.cards {
  width: var(--content-width);
  display: flex;
  flex-direction: column;
}

.cards {
  gap: 51px;
}

.header,
.card {
  background-color: var(--bg-color);
  border: 2px solid var(--text-color);
  display: flex;
  flex-direction: column;
}

.card__title {
  font-size: 18px;
  padding: 3px 10px 3px 10px;
  border-block-end: 2px solid var(--accent-color);
  font-variation-settings: 'wght' var(--font-weight-bold);
  line-height: 100%;
}

.card__image-container {
  position: relative;
}

.card__image {
  width: 100%;
  display: block;
}

.card__label {
  position: absolute;
  top: 25px;
  right: 25px;
  font-family: var(--accent-font);
  line-height: 100%;
  color: var(--text-color);
  mix-blend-mode: hard-light;
  opacity: 0.5;
  z-index: 1;
  -webkit-text-stroke: 1px var(--label-stroke-color);
}

@supports not (-webkit-text-stroke: 1px var(--label-stroke-color)) {
  .card__label {
    text-shadow:
     -1px -1px 0 var(--label-stroke-color),
      1px -1px 0 var(--label-stroke-color),
      -1px 1px 0 var(--label-stroke-color),
      1px 1px 0 var(--label-stroke-color);
    }
}

.card__content {
  padding: 25px;
  display: flex;
  flex-direction: column;
  border-top: 2px solid var(--text-color);
  font-size: 18px;
  line-height: 21px;
}

.card__like-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 7px;
}

.card__icon-button {
  background: transparent;
  border: 2px solid transparent;
  padding: 0;
  cursor: pointer;
  height: 2.375rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.3s ease;
}

.like-icon-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card__icon-button:focus-visible {
  border-color: var(--accent-color);
}

.card__like-button {
  background: var(--bg-color);
  padding: 12.5px 37px;
  font-family: var(--accent-font);
  width: 130px;
  font-size: 14px;
  line-height: 0.9;
  color: var(--text-color);
  cursor: pointer;
  transition: box-shadow 0.3s ease;
  position: relative;
  overflow: hidden;
  border: 2px solid #000;
  display: flex;
  justify-content: center;
}

.card__icon-button {
  box-sizing: border-box;
  height: 40px;
}

.card__like-button .button__text, .dialog__button .button__text, .card__save-button .button__text, .save-icon{
  position: relative;
  z-index: 1;
  color: var(--bg-color);
  mix-blend-mode: difference;
}

.card__like-button:focus, .card__save-button:focus, .card__icon-button:focus, .dialog__button:focus-visible {
  outline: none;
}

.card__save-button {
  background: var(--bg-color);
  border: 2px solid var(--text-color);
  padding: 18.5px 21px;
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 90%;
  color: var(--text-color);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: box-shadow 0.3s ease;
  flex-direction: column;
  margin-bottom: 105px;
  gap: 8px;
  max-width: 335px;
  margin-inline: auto;
}

.card__save-button:focus-visible, .card__like-button:focus-visible, .dialog__button:focus-visible {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__save-button::before, .card__like-button::before, .dialog__button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index:0;
}

.dialog__button:hover::before, .card__save-button:hover::before, .card__like-button:hover::before {
  transform: translateX(0);
}

dialog {
  font-family: var(--accent-font);
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
  padding: 0;
}

.dialog__info {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.dialog__info svg {
  align-self: center;
}

.dialog:not([open]) {
  display: none;
}

.dialog[open] {
  display: flex;
  flex-direction: column;
}

.dialog__button {
  background: var(--bg-color);
  border: 2px solid var(--text-color);
  padding: 12.5px 132.5px;
  line-height: 90%;
  text-transform: uppercase;
  color: var(--text-color);
  cursor: pointer;
  position: relative;
  overflow: hidden;
  width: 100%;
  transition: box-shadow 0.3s ease;
}

.dialog__text {
  display: flex;
  text-align: left;
  width:234px;
}

dialog::backdrop {
  background-color: #000;
  opacity: 0.75;
}

.dialog__content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.card:nth-child(2) .card__image {
  filter: saturate(0.3);
}

.card:nth-child(3) .card__image {
  filter: saturate(2.5);
}

.card:nth-child(4) .card__image {
  filter: sepia(0.6) saturate(1.7);
}

.card:nth-child(5) .card__image {
  filter: invert(0.8);
}

.card:nth-child(6) .card__image {
  filter: sepia(0.9);
}

.card:nth-child(7) .card__image {
  filter: blur(8px);
}

.card:nth-child(8) .card__image {
  filter: blur(5px) hue-rotate(114deg);
}

.sparks {
  opacity: 0;
}

@media (376px <=width) {
  .header {
    min-block-size: 327px;
  }

  .card__text {
    word-spacing: -1.5px;
    line-height: 115%;
  }

  .card__content {
    gap: 27px;
  }

  .card__title {
    padding: 4px 10px 4px 10px;
  }

  .cards {
    gap: 47px;
  }

  .card__save-button {
    display: flex;
    align-items: center;
    flex-direction: row;
    padding: 10px;
  }
}
